* {
    box-sizing: border-box;   
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

img {
    border: 1px solid #1F2937;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: #1F2937;
    color: white;
}

.headLogo {
    font-size: 48px;
    font-weight: bolder;
    margin-left: 20px;
    color: #E5E7EB;
}

.headLinks{
    display: flex;
    gap: 20px;
    width: 20%;
    margin-right: 20px;
    list-style: none;
}

.links {
    text-decoration: none;
    color: #E5E7EB;
}

.mainBox {
    display: flex;
    flex-direction: column;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 400px;
    background-color: #1F2937;
}

.mainInfo {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}

.mainTitle {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.greeting{
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;
}

.button1 {
    background-color: #3882F6;
    color: #E5E7EB;
    border: 1px solid #E5E7EB;
    font-size: 15px;
    border-radius: 5px;
}

.button1:hover {
    background-color: #E5E7EB;
    color: #3882F6;
}

.infoImg {
    height: 320px;
    width: auto;
    border-radius: 5%;
}

.section2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    height: 400px;
}
.sect2title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.pictCells {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.cellImg {
    height: 150px;
    width: 150px;
    border-radius: 5%;
}    

.cellDesc {
    width: 150px;
    flex-wrap: wrap;
}

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: #E5E7EB;
}

.quoteText {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    width: 60%;
}

.quoteAuth {
    font-size: 18px;
    font-weight: 500;
}

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background-color: #3882F6;
    color: #E5E7EB;
    height: 150px;
    margin: 80px 120px;
}

.button2 {
    background-color: #3882F6;
    color: #E5E7EB;
    border: 1px solid #E5E7EB;
    font-size: 15px;
    border-radius: 5px;
}

.button2:hover {
    background-color: #E5E7EB;
    color: #3882F6;
}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #1F2937;
    color: white;
}